.container
  .row
    .col-sm-12
      .global-wrapper.clearfix
        .about.clearfix
          .photo{ style: "background-image:url(#{current_user_last_media.images.standard_resolution.url})" }
          .info
            .profile-picture{ style: "background-image:url(#{current_user.profile_picture})" }
            %strong= current_user.username
            %p= current_user.bio

        .report.clearfix
          %header.clearfix
            .pull-left
              %strong
                %small Week
                = user_report_service_decorator.week_title(:one)
            .pull-right
              %strong
                %small Week
                = user_report_service_decorator.week_title(:two)
          .table-wrapper
            = render 'data_table', user_report_service_decorator: user_report_service_decorator

        .graphics
          .wrapper.clearfix
            .posts{ class: user_report_service_decorator.direction_for(:posts) }
              = icon_tag user_report_service_decorator.icon_for(:posts)
              = "#{user_report_service_decorator.variations.posts}%"
              .icon= icon_tag('camera')
              .label Posts

            .comments{ class: user_report_service_decorator.direction_for(:comments) }
              = icon_tag user_report_service_decorator.icon_for(:comments)
              = "#{user_report_service_decorator.variations.comments}%"
              .icon= icon_tag('comment')
              .label Comments

            .likes{ class: user_report_service_decorator.direction_for(:likes) }
              = icon_tag user_report_service_decorator.icon_for(:likes)
              = "#{user_report_service_decorator.variations.likes}%"
              .icon= icon_tag('heart')
              .label Likes

        .text-right
          = link_to 'Log Out', '/sign-out', class: 'text-danger'

- content_for :after_javascript do
  :javascript
    $(function () {
      $('[data-toggle="popover"]').popover()
    })
